/* . = class */
/* # = id */
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.mapboxgl-popup {
  max-width: 800px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  /* background-color: aquamarine; */
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  z-index: 2;
  transition: transform 0.5s ease;
  background-color: #E9E9E9;
}

.control-panel {
  width: 350px;
  height: 96%;
  margin-top: 1%;
  margin-bottom: 1%;
  position: absolute;
  left: -400px;
  transform: translateX(457px);
  z-index: 1;
  transition: transform 0.5s ease;
  background-color: #f5f5f5f7;
  opacity: 90%;
  border-radius: 0px 10px 10px 0px;
  border: 3px solid #3b834c;
  box-shadow: 0px 0px 10px #00000053;
}

.click-panel {
  position: absolute;
  width: 350px;
  min-height: 200px;
  max-height: 90vh;
  height: auto;
  margin-right: 1%;
  margin-bottom: 200px;
  padding: 10px;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: #f5f5f5f7;
  opacity: 90%;
  border-radius: 0px 0px 10px 10px;
  border: 3px solid #DB7853;
  /* box-shadow: 0px 0px 10px #00000053; */
  overflow-y: auto;
  transition: transform 0.5s ease;
  transform: translateY(-100%);
}

.click-panel.show {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px #00000053;
}
/* .click-panel.show canvas {
  transform: translateY(97%);
} */

.hover-panel {
  position: fixed;
  bottom: -3px;
  left: 500px;
  width: 400px;
  height: 0;
  background-color: #f5f5f5f7;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 90%;
  border-radius: 10px 10px 0px 0px;
  border: 3px solid #151342;
  box-shadow: 0px 0px 10px #00000053;
}

.hover-panel.show {
  height: 100px;
}

.click-panel-canvas {
  position:relative;
  display: table;
  width: 100%;
  height: 400px;
  margin-top: 0px;
  z-index: 3;
  /* background-color: #3b834c; */
}